*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #AF9453;

}

.icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #AF9453;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 18rem;

}
.menu ul li a{
    text-decoration: none;
    color: rgb(67, 60, 60);
}
.menu ul li{
    display: inline;
    padding-right: 55px;
}

.header-text{
    background-image: url('https://static.wixstatic.com/media/c19c76_cf9b2c654746412abb0d21d10fc406b9~mv2_d_3861_2574_s_4_2.jpg/v1/fill/w_1263,h_919,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/c19c76_cf9b2c654746412abb0d21d10fc406b9~mv2_d_3861_2574_s_4_2.jpg');
    width: 100%;
    height: 1000px;
    background-attachment: fixed;
    color: white;  
    letter-spacing: 12px;
    line-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-align: center;
}

.header-text i{
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media only screen and (max-width: 425px) {
    .header-text{
        width: 100%;
        height: 700px;
        background-attachment: fixed;
        color: white;  
        letter-spacing: 5px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        font-size: 15px;
    }
    .image-fixed-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

.hero-section{
    margin-top: 80px;
}


.card{
    width: 350px;
    height: 600px; 
    border: 7px black;
    margin-left: 5.5rem;
    gap: 3rem;
    background-color:#AF9453;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.card h2{
    font-size: 30px;
    color: white;
    font-weight: lighter;
    letter-spacing: 1rem;
}


.card p{
    font-size: 22px;
    color: white;
    line-height: 2rem;
    letter-spacing: 4px;
    text-align: center;
} 

.btn{
    width: 260px;
    height: 50px;
    font-size: 22px;
    background-color: #AF9453;
    color: white;
    border:1px solid white;
}
.btn:hover{
   
    background-color: white;
    color: #AF9453;
    cursor: pointer;
    transition: .4s ease-in;
    transition: .5s ease-out;
    /* transition: all; */
}
.image{
    float: right;
    width: 750px;
    height: 600px;
    padding-right: 5.5rem;
}

@media only screen and (max-width:425px){
    .card{
        width: 350px;
        height: 600px; 
        border: 7px black;
        margin-left: 5.5rem;
        gap: 3rem;
        background-color:#AF9453;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* .image{
        float: right;
        width: 400px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-right: 5.5rem; 
    } */
}

@media only screen and (max-width:768px){
    .card{
        width: 300px;
        height: 600px; 
        border: 7px black;
        gap: 3rem;
        background-color:#AF9453;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image{
        /* float: right; */
        margin-top: 20px;
        width: 680px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5.5rem;
    }

}

.msg-section{
   width: 100%;
   margin-top: 800px;
}
.msg{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.msg p{
    letter-spacing: 4px;
    font-size: 40px;
    padding: 60px; 
/*  margin-top: 15rem; */
    /* position: relative; */
}


.author-name{
    /* margin-top: 35rem; */
    color: #AF9453;
    text-align: center;

}

.img{
    margin-left:5rem ;
    margin-right:5rem;

    
}

.fas{
   /* text-align: center; */
   display: flex;
   justify-content: center;
   align-content: center;
   font-size: 30px;
   /* text-align: center; */
}

@media only screen and (max-width:425px){
    .msg-section{
        width: 100%;
        margin-top: 800px;
     }
     .msg{
  
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .msg p{
        letter-spacing: 2px;
        font-size: 20px;
        padding: 30px; 
    /*  margin-top: 15rem; */
        /* position: relative; */
    }

}

@media only screen and (max-width:px){
    .msg-section{
        width: 100%;
        margin-top: 800px;
     }
     .msg{
  
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .msg p{
        letter-spacing: 4px;
        font-size: 40px;
        padding: 60px; 
    /*  margin-top: 15rem; */
        /* position: relative; */
    }
    
}

.image-section{
    background-image: url('https://static.wixstatic.com/media/c19c76_be4ffccdadfe4e0b987504c62fb53fe5~mv2_d_3625_2366_s_2.jpg/v1/fill/w_1103,h_709,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/c19c76_be4ffccdadfe4e0b987504c62fb53fe5~mv2_d_3625_2366_s_2.jpg');
    width: 90%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10rem 5rem 0px 5rem;
    background-attachment: fixed;
} 


      /* 2nd card */

.card2{
    width: 300px;
    height: 500px; 
    border: 7px black;
    gap: 3rem;
    background-color: #AF9453;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card2 img{
    background-color: #AF9453;
}
.chat{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}
.last-btn{
    width: 200px;
    height: 55px;
    background-color: #AF9453;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.card2 h2 {
    font-size: 30px;
    color: white;
    font-weight: lighter;
    letter-spacing: 1rem;
}

.card2 p{
    font-size: 22px;
    color: white;
    line-height: 2rem;
    letter-spacing: 6px;
    text-align: center;
    padding: 2px;
} 

.btn2{
    width: 220px;
    height: 50px;
    font-size: 22px;
    background-color: #AF9453;
    color: white;
    border:1px solid white;
}
.btn2:hover{
   
    background-color: white;
    color: #AF9453;
    cursor: pointer;
    transition: .4s ease-in;
    transition: .5s ease-out;
}
.footer{
    width: 90%;
    height: 275px;
    background-color: #AF9453;
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer div{
    line-height: 23px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 50px;
    /* margin-left: 30px; */
    
}
.vl{
    border: 0.5px solid rgb(252, 249, 249);
    height: 80px;
    
}  

.btn5{
    width: 240px;
    height: 50px;
    font-size: 22px;
    background-color: #AF9453;
    color: white;
    border:1px solid white;
    margin-top:150px ;
    /* margin-right: 20px; */
}

.btn5:hover{
    background-color: white;
    color: #AF9453;
    cursor: pointer;
    transition: .4s ease-in;
    transition: .5s ease-out;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }